<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Сотрудники</title>
</head>

<body>
    <!-- Форма выбора месяца -->
    <form method="GET" action="/employees">
        <label for="month">Выберите месяц:</label>
        <input type="month" id="month" name="month" value="{{ selected_month }}">
        <button type="submit">Показать</button>
    </form>

    <h1>Сотрудники</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Магазин</th>
                <th>Отработанные часы</th>
                <th>Ставка</th>
                <th>Мотивация</th>
                <th>Зарплата</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.name }} </td>
                <td>{{ employee.shop.name }}</td>
                <td>{{ employee.hours_worked }}</td>
                <td>{{ employee.salary }}</td>
                <td>{{ employee.motivation }}</td>
                <td>{{ employee.total_salary }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Общая сумма заработной платы: {{ total_salary }} руб.</h2>



    <a href="{{ url_for('index') }}">На главную</a>
</body>

</html>